.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_login {
    margin-top: 20px;
    font-size: 20px;
}
.forgot-text {
    color: grey;
    font-size: 11px;
}

.forgot-wrapper {
    margin-top: 15px;
}
.create-acc-wrapper {
    margin-top: 32px;
}
.create-text {
    color: grey;
    font-size: 12px;
}
.header-wrapper {
    height: 40px;
    background-color: #0186ff;
    width: 100%;
    border: 1px solid #0186ff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main-wrapper {
    border: 1px solid #0186ff;
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55%;
    background-color: white;
    border-radius: 10px;
}
@media only screen and (max-width: 700px) {
    .main-wrapper {
        width: 75%;
    }
  }