.input-wrapper{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    background-color: #f3f3f3;
    padding-left: 10px;
    border-radius: 9px;

}
.inputs {
    background-color: #f3f3f3;
    padding: 9px;
    border-radius: 4px;
    margin-right: 18px;
    color: #5f6375;
    cursor: pointer;
    margin-top:5px;
    border: none;
    outline: none;
}

.main-input-class {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    height: 40px;
    border: none;
}
